.App {
  text-align: center;
}

.flex{
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.gap-8{
  gap: 8px;
}

button {
  min-width: 80px;
  padding: 12px 20px;
}

.timer {
  margin-top: 50px;
  font-size: 8em;
}
